body {
	color: #555559;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	margin: 0 auto;
	max-width: 1439px;
	width: 100vw;
}

body a {
	color: #555559;
	text-decoration: none;
}

header {
	align-items: stretch;
	display: inline-grid;
	grid-gap: 0px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 50% 50%;
}

header > img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: 0;
	width: auto;
}

nav {
	align-items: center;
	box-shadow: 0px 5px 5px -3px rgba(239,238,238,1);
		-webkit-box-shadow: 0px 5px 5px -3px rgba(239,238,238,1);
		-moz-box-shadow: 0px 5px 5px -3px rgba(239,238,238,1);
	display: inline-flex;
	height: 100px;
	justify-content: center;
	width: 100%;
}

nav a {
	color: #2e2e2e;
	flex: 0 1 15%;
	font-size: 1.4em;
	font-weight: 600;
	min-width: 120px;
	text-align: center;
	text-transform: uppercase;
}

main {
	background-color: #fbfafa;
	width: 100%;
	margin: 0 auto;
}

#intro {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0 100px 0;
	text-align: center;
	width: 100%;
}

#intro > h1 {
	font-size: 4.5em;
	font-weight: 300;
}

.button {
	background-color: #286782;
	border-radius: 8px;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: 400;
	padding: 15px 25px 15px 25px;
	width: 340px;
}

#details {
	align-items: stretch;
	background-color: #ffffff;
	display: inline-grid;
	grid-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
		"description-one image-one"
		"image-two description-two"
		"description-three image-three";
	max-width: 100vw;
}

#details > img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: 0;
	width: 50vw;
}

#details > div {
	align-content: center;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	grid-template-areas: 
		"dash header"
		"dash body";
	grid-template-columns: 30px 75%;
	grid-template-rows: auto auto;
	justify-content: center;
	max-width: 50vw;
}

#details > div > .dash {
	font-size: 2em;
	font-weight: 300;
	grid-area: dash;
}

#details > div > h2 {
	font-size: 2em;
	font-weight: 700;
	grid-area: header;
	margin: 0;
}

#details > div > p {
	font-size: 1.5em;
	font-weight: 300;
	grid-area: body;
}

img.vegan {
	grid-area: image-two;
}

div.vegan {
	grid-area: description-two;
}

footer {
	align-items: center;
	background-color: #fbfafa;
	display: inline-flex;
	flex-direction: row;
	height: 75px;
	justify-content: space-between;
	padding: 0 2% 0 2%;
	vertical-align: middle;
	width: 96%;
}

footer > span {
	font-size: 14pt;
	margin: 0;
}

address {
	font-style: normal;
}

#footer-left {

}

#footer-right {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-right > .spacer {
	margin: 0 1vw 0 1vw;
}

@media only screen and (max-device-width: 1300px){
	footer {
		flex-direction: column-reverse;
		justify-content: center;
		padding: 0;
		width: 100%;
	}

	#footer-left {
		text-align: center;
	}

	#footer-right {
		justify-content: center;
	}
}